@charset "UTF-8";
body{
    height: 200vh;
}
.big{
    background-image: url("imgfzhome.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 200vh;
    font-size: 400px;
    font-weight: 900;
    text-align: center;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    padding-top: 100px;
}
.big::before{
    content: "";
    background-image: inherit;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -99;
}
h2{
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    letter-spacing: 8px;
    color: white;
}
h1{
    position: absolute;
    top: 145vh;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    color: white;
    letter-spacing: 10px;
    padding: 100px 0;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}
a{
    text-decoration: none;
    display: block;
    color: white;
    margin-top: 10px;
}
a:hover{
    color: rgba(0,0,0,1);
    background-color: rgba(171, 171, 171, 0.5)
}